.hidden{
    display: none;
}
#forma{
    padding: 20px;
    background-color: #ffffff;
    max-width: 320px;
    margin: auto;
    position: relative;
}
input{
    width: 50%;
}

#locale{
    padding-left: 60%;
}
#loginform{
    padding: 20px;
    background-color: #ffffff;
    max-width: 320px;
    margin: auto;
    position: relative;
}
#updateordform{
    padding: 20px;
    background-color: #ffffff;
    max-width: 320px;
    margin: auto;
    position: relative;
}
#addblacklist{
    padding: 20px;
    background-color: #ffffff;
    max-width: 320px;
    margin: auto;
    position: relative;
}
#pagin{
    padding-left: 60%;
}

